{% extends 'PardalisWaSUnitBundle::base.html.twig' %}

{% block body %}
<h1>Alliance list</h1>
<div class="row"id="alliances">
	    {% for alliance in alliances %}
		    <div class="col-lg-4 col-md-6"><h2>{{ alliance.name }}</h2>
		    {% if alliance.nations is defined %}
			<ul>
				{% for nation in alliance.nations %}
					<li><h3>{{ nation.name }}</h3>
					{% if nation.units|length > 0 %}

					{% set prev_unittype = '' %}

					{% for unit in nation.units %}
						{% if unit.unittype.name != prev_unittype %}
							{% if prev_unittype != '' %}
							</ul>
							{% endif %}
						<h4>{{ unit.unittype.name }}</h4>
						<ul>
						{% set prev_unittype = unit.unittype.name %}
						{% endif %}
							<li><a href="{{ path('pardalis_was_unit_viewunit', {'id': unit.id}) }}">{{ unit.name }}</a> | {{ unit.cost }} | {{ unit.releaseset.name }} | {{ unit.rarity.name }} </li>
						{% if unit.unittype.name != prev_unittype %}
						</ul>
						{% endif %}
					{% endfor %}
						</ul><!-- end unittypes -->
					{% endif %}
					</li>
				{% endfor %}
			</ul>
		    {% endif %}
		    </div>
	    {% endfor %}
</div>
{% endblock %}