{% extends 'PardalisWaSUnitBundle::base.html.twig' %}

{% block body %}
<div class="card" alliance="{{ unit.nation.alliance.name }}">
	<h1 class="unitname">{{ unit.name }}</h1>
	<div class="nation">
		<i nation="{{ unit.nation.name }}"></i>
	</div>
	<div class="cost">
		{{ unit.cost }}
	</div>

	<div class="typeandyear">
		<span class="unittype">
			{% if unit.unittype.parent.name is defined %} 
				{{ unit.unittype.parent.name }} - 
			{% endif %}
			{{ unit.unittype.name }}
		</span>
		<span class="year">{{ unit.year }}</span>
	</div>

	<div class="stats">
		<span class="speed">
			Speed - {{ unit.speed }}
		</span>
		<span class="flags">
			{% if unit.flags > 0 %}
				{% for i in 1..unit.flags %}
				    <i stat="Flag"></i>
				{% endfor %}
			{% endif %}
		</span>
		<span class="aircraft">
			{% if unit.aircraft > 0 %}
				{% for i in 1..unit.aircraft %}
				    <i stat="Aircraft"></i>
				{% endfor %}
			{% endif %}
		</span>
	</div>

	<div class="cardbody">
		<table class="attacks">
			<thead>
				<tr>
					<th class="attackheader">Attacks</th>
					<th class="rangeheader">0</th>
					<th class="rangeheader">1</th>
					<th class="rangeheader">2</th>
					<th class="rangeheader">3</th>
				</tr>
			</thead>
			<tbody>
			{% for attack in unit.attacks %}
			<tr>
				<td class="attack"><i attack="{{ attack.attacktype.name }}"></i></td>
				<td class="range">{{ attack.range0 }}</td>
				<td class="range">{{ attack.range1 }}</td>
				<td class="range">{{ attack.range2 }}</td>
				<td class="range">{{ attack.range3 }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="vitals">
			<div class="valuegroup">
				<span class="text">Armor</span> <span class="value">{{ unit.armor }}</span>				
			</div>
			<div class="valuegroup">
				<span class="text">Vital Armor</span> <span class="value">{{ unit.vitalarmor }}</span>
			</div>
			<div class="valuegroup">
				<span class="text">Hull Points</span> <span class="value">{{ unit.hullpoints }}</span>	
			</div>
		</div>

		<ul class="abilities">
		{% for ability in unit.abilities %}
		    <li><strong>{{ ability.name }}</strong> - {{ ability.description }}</li>
		{% endfor %}
		</ul>
	</div>
	<div class="collectiondata">
		<span class="set">
			<i set="{{ unit.releaseset.name }}"></i>
		</span>
		<span class="number">
			{{ unit.NumberInSet }}/{{ unit.releaseset.totalunits }}
		</span>
		<span class="rarity">
			<i rarity="{{ unit.rarity.name }}"></i>
		</span>
	</div>
</div>
{% endblock %}