{% extends 'PardalisWaSUnitBundle::base.html.twig' %}

{% block body %}
<div class="page setlist">
	<h1>Sets</h1>
	<div class="row">
	{% for releaseset in releasesets %}
		<div class="set">
			<div class="col-lg-4 col-md-4">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<i set="{{ releaseset.name }}"></i>
					</div>
					<div class="col-lg-6 col-md-6">
						<h2>{{ releaseset.name }}</h2>
					</div>
					<div class="col-lg-4 col-md-4">
						{{ releaseset.totalunits }} units total
					</div>
				</div>
			{% if releaseset.units %}
				{% for unit in releaseset.units %}
					<div class="row">
						<div class="col-lg-2 col-md-2 numberinset">{{ unit.numberinset }}</div>
						<div class="col-lg-9 col-md-9 unitname">
							<a href="{{ path('pardalis_was_unit_viewunit', {'id': unit.id}) }}">{{ unit.name }}</a>
						</div>
						<div class="col-lg-1 col-md-1 rarity">
							<i rarity="{{ unit.rarity.name }}"></i>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			</div>
		</div>
	{% endfor %}
	</ul>
	</div>
</div>
{% endblock %}