{% extends 'PardalisWaSUnitBundle::base.html.twig' %}

{% block body %}
<div class="page setlist">
	<h1>Sets</h1>
	<div class="row">
	{% for releaseset in releasesets %}
		<div class="col-lg-4 col-md-4">
		<h2>{{ releaseset.name }}</h2>
		<i set="{{ releaseset.name }}"></i> {{ releaseset.totalunits }} units total
		{% if releaseset.units %}
			<ul>
				{% for unit in releaseset.units %}
				<li><span class="numberinset">{{ unit.numberinset }}</span><span class="unitname"><a href="{{ path('pardalis_was_unit_viewunit', {'id': unit.id}) }}">{{ unit.name }}</a></span><span class="rarity"><i rarity="{{ unit.rarity.name }}"></i></span></li>
				{% endfor %}
			</ul>
		{% endif %}
		</div>

	{% endfor %}
	</ul>
	</div>
</div>
{% endblock %}