{% extends 'PardalisWaSUnitBundle::base.html.twig' %}

{% block body %}
<h1>Sets</h1>
<ul id="sets">
{% for releaseset in releasesets %}
    <li><h2>{{ releaseset.name }}</h2> - {{ releaseset.totalunits }}
	{% if releaseset.units %}
		<ul>
			{% for unit in releaseset.units %}
			<li><a href="{{ path('pardalis_was_unit_viewunit', {'id': unit.id}) }}">{{ unit.name }}</a> {{ unit.rarity.name }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    </li>

{% endfor %}
</ul>

{% endblock %}