{% extends 'PardalisWaSUnitBundle::base.html.twig' %}

{% block body %}
<div class="page setlist">
	<h1>Sets</h1>
	<div class="row">
	{% for releaseset in releasesets %}
		<div class="set col-sm-6 col-md-4 col-lg-3">
			<div class="row">
				<div class="col-xs-2">
					<i set="{{ releaseset.name }}"></i>
				</div>
				<div class="col-xs-10">
					<h2>{{ releaseset.name }}</h2>
				</div>
					<!--<div class="col-xs-2">
						<i set="{{ releaseset.name }}"></i>
					</div>
					<div class="col-xs-6">
						<h2>{{ releaseset.name }}</h2>
					</div>
					<div class="col-xs-4">
						{{ releaseset.totalunits }} units total
					</div>
				</div>-->
			{% if releaseset.units %}
				<div class="col-xs-12">
				{% for unit in releaseset.units %}
					<div class="row">
						<div class="col-xs-2 numberinset">{{ unit.numberinset }}</div>
						<div class="col-xs-8 unitname">
							<a href="{{ path('pardalis_was_unit_view', {'id': unit.id}) }}">{{ unit.name }}</a>
						</div>
						<div class="col-xs-2 rarity">
							<i rarity="{{ unit.rarity.name }}"></i>
						</div>
					</div>
				{% endfor %}
				</div>
			{% endif %}
			</div>
		</div>
	{% endfor %}
	</ul>
	</div>
</div>
{% endblock %}